<!DOCTYPE html>
	<html>
  <head>
      <title>{{ page.title }}</title>
      <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
				<li><a href="/projects">Research and Publications</a></li>
				<li><a href="/cv">CV</a></li>
        <li><a href="/til">TIL</a></li>
				<li><a href="/reading_list">Reading List</a></li>
	    		</ul>
					<hr>
			</nav>d
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
				<li style="float:left"><a href="mailto:manyaa.wadhwa@gmail.com"><img src="images/logo-gmail.png" height="15"></a></li>
	        		<li style="float:left"><a href="https://www.linkedin.com/in/manya-wadhwa-9798a79a/"><img src="images/logo-linkedin.png" height="15"></a></li>
				<li style="float:left"><a href="https://scholar.google.com/citations?user=4_uMjzgAAAAJ&hl=en&oi=ao"><img src="images/logo-google-scholar.png" height="15"/></a></li>
			</ul>
			</footer>
		</body>
	</html>
